[Desktop Entry]
Encoding=UTF-8
Name=Schain
Comment=Schain P2P Cryptocurrency
Exec=schain-qt %u
Terminal=false
Type=Application
Icon=schain128
MimeType=x-scheme-handler/schain;
Categories=Office;Finance;
Name[en_US]=schain-qt.desktop
