[Unit]
Description=Save's distributed currency daemon
After=network.target

[Service]
User=save
Group=save

Type=forking
PIDFile=/var/lib/saved/saved.pid

ExecStart=/usr/bin/saved -daemon -pid=/var/lib/saved/saved.pid \
          -conf=/etc/save/save.conf -datadir=/var/lib/saved

ExecStop=-/usr/bin/save-cli -conf=/etc/save/save.conf \
         -datadir=/var/lib/saved stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
